<nav class="nav">
  <ul class="nav__list">
    <li>
      <a href="#home" title="Home" class="nav__link active-link">
        <i class="ri-home-line"></i>
      </a>
    </li>
    <li>
      <a href="#projects" title="Projects" class="nav__link">
        <i class="ri-folder-6-line"></i>
      </a>
    </li>
    <li>
      <a href="#experience" title="Experience" class="nav__link">
        <i class="ri-profile-line"></i>
      </a>
    </li>
<!--    <li>-->
<!--      <a href="#contact" title="Contact" class="nav__link">-->
<!--        <i class="ri-contacts-book-line"></i>-->
<!--      </a>-->
<!--    </li>-->
  </ul>


</nav>


<main class="main">
  <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="prefill">
        <img [src]="'assets/profile_pic_2.png'" alt="" class="prefill__img">

        <div class="prefill_data">
          <h1 class="prefill_name">Stefan <br> Stanishev</h1>
          <div class="prefill_buttons">
            <a href="#projects" class="button">Projects</a>
            <a href="#experience" class="button button__black">Experience</a>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="info__data">
          <div class="info__circle"></div>
          <h1 class="info__name">Stefan Stanishev</h1>
        </div>

        <div class="info__image">
          <img [src]="'assets/about_pic_2.png'" alt="about" class="info__img">
        </div>
        <p class="info__description">
          Master in Computer and Software Engineering with 5+ years of experience in Java. Spring Boot, Angular etc.
          Passionate about building scalable web applications, optimizing performance, and crafting seamless user experiences.
          Ready to bring innovative solutions to your team!
        </p>

        <div class="info__social">
          <a href="https://bg.linkedin.com/in/stefan-stanishev-737335180" target="_blank" class="info__link">
            <i class="ri-linkedin-box-line"></i>
          </a>
          <a href="https://github.com/stanisev" target="_blank" class="info__link">
            <i class="ri-github-line"></i>
          </a>
          <a href="https://www.instagram.com/sstanisev/#" target="_blank" class="info__link">
            <i class="ri-instagram-line"></i>
          </a>
        </div>

        <a href="assets/pdf/stefan-stanishev-cv-2026.pdf" target="_blank" class="button button__black button__cv">Download CV</a>
      </div>

      <div class="skills">
        <h2 class="skills__title">Skills</h2>
        <div class="skills_scroll_container">
          <div class="skills_items">
            <img [src]="'assets/img/java.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/spring.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/spring-boot.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/angular.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-html.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-css.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-javascript.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/docker.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/kubernetes.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/aws.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/terraform.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/kafka.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/postgres.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/sql.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/firebase.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/dynamodb.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-git.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-github.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-photoshop.svg'" alt="skill" class="skills__item">
            <img [src]="'https://jmeter.apache.org/images/jmeter_square.svg'" alt="skill" class="skills__item">
            <!-- Duplicate items for seamless infinite scroll -->
            <img [src]="'assets/img/java.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/spring.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/spring-boot.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/angular.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-html.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-css.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-javascript.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/docker.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/kubernetes.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/aws.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/terraform.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/kafka.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/postgres.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/sql.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/firebase.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/dynamodb.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-git.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-github.svg'" alt="skill" class="skills__item">
            <img [src]="'assets/img/skills-photoshop.svg'" alt="skill" class="skills__item">
            <img [src]="'https://jmeter.apache.org/images/jmeter_square.svg'" alt="skill" class="skills__item">
          </div>
        </div>
        <p class="skills_description">
          Explore the projects section to see my work with these tech stacks.
        </p>
      </div>
    </div>
  </section>

  <section class="projects section" id="projects">
    <div class="projects__header">
      <h2 class="projects__header-title">
        <a href="https://github.com/stanisev" target="_blank" class="projects__header-link">
          Projects
          <i class="ri-github-line"></i>
        </a>
      </h2>
    </div>
    <h2 class="section__title">Recent Projects</h2>

    <div class="projects__sec">
      <div class="projects__container container grid">
        <article class="projects__card">
          <a href="#" target="_blank" class="projects__image">
            <img src="../assets/img/projects/project__1.png" alt="Project 1" class="projects__img">
          </a>
          <div class="projects__data">
            <h3 class="projects__name">Easy Invoicer</h3>
            <p class="projects__description">
              Easy Invoicer is a simple and efficient invoicing app designed to help businesses manage clients,
              track services, and generate professional invoices effortlessly. With support for IndexedDB storage,
              it ensures seamless offline functionality while offering a user-friendly interface for quick invoice
              creation and client management.</p>

            <div class="projects__skills">
              <img [src]="'assets/img/angular.svg'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/clar.png'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/inx.png'" alt="skill" class="projects__skill">
            </div>

            <a href="https://easyinvoicer.netlify.app/invoices" target="_blank" class="projects__button">
              <i class="ri-link"></i>
              <span>Visit Project</span>
            </a>
          </div>
        </article>
      </div>
      <div class="projects__container container grid">
        <article class="projects__card">
          <a href="#" target="_blank" class="projects__image">
            <img src="assets/img/projects/project__2.png" alt="Project 1" class="projects__img">
          </a>
          <div class="projects__data">
            <h3 class="projects__name">NFTmium</h3>
            <p class="projects__description">
              NFTIMIUM is a powerful NFT generator that leverages Angular for the frontend and Spring Boot for the backend.
              It allows users to upload images and generate multiple NFT variants with customizable traits.
              Designed for efficiency and scalability, NFTIMIUM streamlines the creation process,
              making it easy to produce unique digital assets for the blockchain ecosystem.
            </p>

            <div class="projects__skills">
              <img [src]="'assets/img/angular.svg'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/java.svg'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/spring-boot.svg'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/sql.svg'" alt="skill" class="projects__skill">
              <img [src]="'https://icon.icepanel.io/Technology/svg/JUnit.svg'" alt="skill" class="projects__skill">
            </div>

            <div class="projects__buttons">
              <a href="https://github.com/stanisev/nft-generator-be" target="_blank" class="projects__button">
                <i class="ri-github-line"></i>
                <span>Visit Project</span>
              </a>

              <a href="https://www.youtube.com/watch?v=0Zi0DtKpgKo" target="_blank" class="projects__button">
                <i class="ri-youtube-line"></i>
                <span>Watch Demo</span>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>

  </section>

  <section class="section experience" id="experience">
    <div class="experiences">
      <h2 class="skills__title">Experience</h2>

      <div class="experience__items">
        <div class="experience__card">
          <h3 class="experience__title">Software Engineer</h3>
          <div class="experience__items">
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/CTERA_Networks_logo.svg/1200px-CTERA_Networks_logo.svg.png'" alt="ctera" class="experience__item">
            <img [src]="'https://logosandtypes.com/wp-content/uploads/2023/11/ciklum.png'" alt="ciklum" class="experience__item">
            <p class="experience__company__name">Ctera (via Ciklum)</p>
          </div>
          <p class="experience__date">May 2025 - Present</p>
          <p class="experience__description">
            As a Software Engineer at Ctera (via Ciklum), I worked on  Modernized a legacy Java monolith built on Servlets and XML-based configuration, including significant work on the dashboard backend (powering system-wide KPIs, server activity, and storage metrics) and share-management endpoints responsible for creating, updating, validating, and exposing file-share metadata. Refactored outdated components into clean, maintainable Spring Boot–based REST services.
            <br><br>Debugged and optimized the platform's request-handling pipeline, working deeply with Catalina and Coyote logs to identify performance bottlenecks and improve throughput and reliability.
            <br><br>Led modernization of the logging and monitoring stack, integrating and optimizing EKL/ELK pipelines (Elasticsearch, Kibana, Logstash) to improve observability, centralized log tracing, and faster root-cause analysis.
            <br><br>Performed in-depth performance profiling and optimization, analyzing JVM behavior, memory usage, SQL performance, and service-level bottlenecks to improve stability and reduce request latency across critical services.
            <br><br>Developed and enhanced KPI calculation services, including device and storage KPIs, ensuring accurate aggregation and consistent reporting across multiple time periods.
            <br><br>Designed and implemented time-based aggregation for server activity, enabling hourly, daily, and weekly summaries of 5-minute server activity data for improved analytics workflows.
          </p>
          <p class="experience__description--mobile">
            Modernized legacy Java monolith to Spring Boot REST services. Optimized performance and integrated ELK stack for better observability. Enhanced KPI services and analytics workflows.
          </p>
        </div>
        <div class="experience__items">
          <p class="experience__company__name">Tech Stack:</p>
          <img [src]="'assets/img/java.svg'" alt="skill" class="experience__item">
          <img [src]="'assets/img/spring-boot.svg'" alt="skill" class="experience__item">
          <img [src]="'assets/img/react.svg'" alt="skill" class="experience__item">
          <img [src]="'assets/img/postgres.svg'" alt="skill" class="experience__item">
          <img [src]="'assets/img/vsphere.webp'" alt="skill" class="experience__item">
          <img [src]="'assets/img/nomad.svg'" alt="skill" class="experience__item">
        </div>

        <div class="experience__card">
          <h3 class="experience__title">Software Engineer II</h3>
          <div class="experience__items">
            <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNScSVTcbevtYcYMN0aCZUZSkbWHdopaKAPQ&s'" alt="skill" class="experience__item">
            <p class="experience__company__name">Paysafe</p>
          </div>
          <p class="experience__date">Feb 2024 - May 2025</p>
          <p class="experience__description">
            As a Software Engineer II at Paysafe, I worked on a Config Service for the entire system, utilizing DynamoDB for efficient configuration management. I also enhanced the UI for managing configurations, improving accessibility and ease of use for internal teams. 
            <br><br>Mentored junior colleagues and led onboarding sessions, sharing best practices and technical insights.

            <br><br>Worked on performance testing for critical transaction microservices, writing comprehensive tests using JMeter and analyzing the results to identify performance bottlenecks. 
            <br><br>To support ongoing monitoring, I developed a custom application for visualizing JMeter results and created an app using Puppeteer for capturing screenshots and automating workflows.

            <br><br>Integrated performance metrics with Grafana and Jaeger for enhanced observability and real-time monitoring. As part of an ongoing effort to improve system reliability and scalability, contributed to the development of a new performance testing suite. I played a key role in planning and executing the migration to Reactive Spring and R2DBC, which set the stage for improved asynchronous data handling and scalability. This role allowed me to strengthen my skills in performance engineering, mentoring, and architecting modern, reactive systems.
          </p>
          <p class="experience__description--mobile">
            Built Config Service with DynamoDB and enhanced UI. Mentored junior developers. Conducted performance testing with JMeter and integrated Grafana/Jaeger for observability. Led migration to Reactive Spring and R2DBC.
          </p>
        </div>
        <div class="experience__items">
          <p class="experience__company__name">Tech Stack:</p>
          <img [src]="'assets/img/java.svg'" alt="skill" class="experience__item">
          <img [src]="'assets/img/spring-boot.svg'" alt="skill" class="experience__item">
          <img [src]="'assets/img/angular.svg'" alt="skill" class="experience__item">
          <img [src]="'assets/img/postgres.svg'" alt="skill" class="experience__item">
          <img [src]="'assets/img/aws.svg'" alt="skill" class="experience__item">
          <img [src]="'assets/img/dynamodb.svg'" alt="skill" class="experience__item">
        </div>

        <div class="experience__card">
          <h3 class="experience__title">Software Engineer I</h3>
          <div class="experience__items">
            <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNScSVTcbevtYcYMN0aCZUZSkbWHdopaKAPQ&s'" alt="skill" class="experience__item">
            <p class="experience__company__name">Paysafe</p>
          </div>
          <p class="experience__date">Nov 2022 - Feb 2024</p>
          <p class="experience__description">
            As a Software Engineer I at Paysafe, I contributed to several key projects aimed at improving system
            architecture and scalability. 
            <br><br>Worked on optimizing user onboarding and registration processes, which
            significantly enhanced the user experience. 
            <br><br>Played a key role in the migration and decomposition of a
            large monolithic application into a modular microservices architecture, improving both flexibility and
            maintainability. 
            <br><br>Integrated the Flowable BPMN Engine to automate business processes,
            streamlining workflows across the platform. Using Spring, Redis, and Kafka, I helped build highly scalable,
            reliable, and fault-tolerant systems capable of supporting growing transaction volumes.
          </p>
          <p class="experience__description--mobile">
            Optimized user onboarding processes. Led migration from monolith to microservices. Integrated Flowable BPMN Engine. Built scalable systems with Spring, Redis, and Kafka.
          </p>
          <div class="experience__items">
            <p class="experience__company__name">Tech Stack:</p>
            <img [src]="'assets/img/java.svg'" alt="skill" class="experience__item">
            <img [src]="'assets/img/spring-boot.svg'" alt="skill" class="experience__item">
            <img [src]="'assets/img/angular.svg'" alt="skill" class="experience__item">
            <img [src]="'assets/img/docker.svg'" alt="skill" class="experience__item">
            <img [src]="'assets/img/kafka.svg'" alt="skill" class="experience__item">
            <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS0K1pid1KZGG8O7heTiW4Hsck66g3Nsc0qg&s'" alt="skill" class="experience__item">
          </div>
        </div>

        <div class="experience__card">
          <h3 class="experience__title">Junior Software Engineer</h3>
          <div class="experience__items">
            <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNScSVTcbevtYcYMN0aCZUZSkbWHdopaKAPQ&s'" alt="skill" class="experience__item">
            <p class="experience__company__name">Paysafe</p>
          </div>
          <p class="experience__date">Jan 2021 - Nov 2022</p>
          <p class="experience__description">
            Worked on payment solutions and integrations for Skrill and Neteller, part of Paysafe's digital wallet.
            <br><br>Contributed to UI/UX improvements, developed microservices, and enhanced platform functionality.
          </p>
          <p class="experience__description--mobile">
            Developed payment solutions for Skrill and Neteller. Improved UI/UX and built microservices for digital wallet platform.
          </p>
          <div class="experience__items">
            <p class="experience__company__name">Tech Stack:</p>
            <img [src]="'assets/img/angular.svg'" alt="skill" class="experience__item">
            <img [src]="'assets/img/skills-html.svg'" alt="skill" class="experience__item">
            <img [src]="'assets/img/skills-css.svg'" alt="skill" class="experience__item">
            <img [src]="'assets/img/java.svg'" alt="skill" class="experience__item">
            <img [src]="'assets/img/spring-boot.svg'" alt="skill" class="experience__item">
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/1667px-Figma-logo.svg.png'" alt="skill" class="experience__item">
            <img [src]="'https://m.media-amazon.com/images/I/41QodfboFdL.png'" alt="skill" class="experience__item">
          </div>
        </div>

        <div class="experience__card">
          <h3 class="experience__title">Summer Internship</h3>
          <div class="experience__items">
            <img [src]="'https://www.sap.com/dam/application/shared/logos/sap-logo-svg.svg/sap-logo-svg.svg'" alt="skill" class="experience__item">
            <p class="experience__company__name">SAP</p>
          </div>
          <p class="experience__date">Summer 2019, 2020</p>
          <p class="experience__description">
            Summer Internship at TU-Sofia – Developed a Spring Boot project with mentorship from an SAP expert,
            focusing on REST API development, MySQL database management, and application security.
          </p>
          <p class="experience__description--mobile">
            Summer internship developing Spring Boot project with REST APIs, MySQL, and security features under SAP mentorship.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="contact section" id="contact">

  </section>
</main>

<footer class="footer">
  <div class="footer__container container grid">
    <div class="footer__content grid">
      <a href="#" class="footer__logo">Stanisev</a>
      <ul class="footer__links">
        <li>
          <a href="#home" class="footer__link">Home</a>
        </li>
        <li>
          <a href="#projects" class="footer__link">Projects</a>
        </li>
        <li>
          <a href="#experience" class="footer__link">Experience</a>
        </li>
      </ul>
    </div>

    <div class="footer__socials">
      <a href="https://bg.linkedin.com/in/stefan-stanishev-737335180" target="_blank" class="footer__socials__link">
        <i class="ri-linkedin-box-line"></i>
      </a>
      <a href="https://github.com/stanisev" target="_blank" class="footer__socials__link">
        <i class="ri-github-line"></i>
      </a>
      <a href="https://www.instagram.com/sstanisev/#" target="_blank" class="footer__socials__link">
        <i class="ri-instagram-line"></i>
      </a>
    </div>

  </div>

  <span class="footer__copy">
    &#169; All Rights Reserved by Stanisev
  </span>

</footer>

<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-line"></i>
</a>
