<nav class="nav">
  <ul class="nav__list">
    <li>
      <a href="#home" title="Home" class="nav__link active-link">
        <i class="ri-home-line"></i>
      </a>
    </li>
    <li>
      <a href="#projects" title="Projects" class="nav__link">
        <i class="ri-folder-6-line"></i>
      </a>
    </li>
    <li>
      <a href="#experience" title="Experience" class="nav__link">
        <i class="ri-profile-line"></i>
      </a>
    </li>
    <li>
      <a href="#contact" title="Contact" class="nav__link">
        <i class="ri-contacts-book-line"></i>
      </a>
    </li>
  </ul>


</nav>


<main class="main">
  <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="prefill">
        <img [src]="'assets/profile_pic.png'" alt="" class="prefill__img">

        <div class="prefill_data">
          <h1 class="prefill_name">Stefan <br> Stanisev</h1>
          <div class="prefill_buttons">
            <a href="#projects" class="button">Projects</a>
            <a href="#experience" class="button button__black">Experience</a>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="info__data">
          <div class="info__circle"></div>
          <h1 class="info__name">Stefan Stanisev</h1>
        </div>

        <div class="info__image">
          <img [src]="'assets/about_pic.png'" alt="about" class="info__img">
        </div>
        <p class="info__description">
          Master in Computer and Software Engineering with 5+ years of experience in Java. Spring Boot, Angular etc.
          Passionate about building scalable web applications, optimizing performance, and crafting seamless user experiences.
          Ready to bring innovative solutions to your team!
        </p>

        <div class="info__social">
          <a href="https://bg.linkedin.com/in/stefan-stanishev-737335180" target="_blank" class="info__link">
            <i class="ri-linkedin-box-line"></i>
          </a>
          <a href="https://github.com/stanisev" target="_blank" class="info__link">
            <i class="ri-github-line"></i>
          </a>
          <a href="https://www.instagram.com/sstanisev/#" target="_blank" class="info__link">
            <i class="ri-instagram-line"></i>
          </a>
        </div>

        <a href="assets/pdf/stefan-stanisev-cv.pdf" target="_blank" class="button button__black button__cv">Download CV</a>
      </div>

      <div class="skills">
        <h2 class="skills__title">Skills</h2>
        <div class="skills_items">
          <img [src]="'assets/img/java.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/spring.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/spring-boot.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/angular.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/skills-html.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/skills-css.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/skills-javascript.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/docker.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/kubernetes.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/aws.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/terraform.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/kafka.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/postgres.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/sql.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/firebase.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/dynamodb.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/skills-git.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/skills-github.svg'" alt="skill" class="skills__item">
          <img [src]="'assets/img/skills-photoshop.svg'" alt="skill" class="skills__item">
          <img [src]="'https://jmeter.apache.org/images/jmeter_square.svg'" alt="skill" class="projects__skill">
        </div>
        <p class="skills_description">
          Explore the projects section to see my work with these tech stacks.
        </p>
      </div>
    </div>
  </section>

  <section class="projects section" id="projects">
    <h2 class="section__title">Recent Projects</h2>

    <div class="projects__sec">
      <div class="projects__container container grid">
        <article class="projects__card">
          <a href="#" target="_blank" class="projects__image">
            <img src="../assets/img/projects/project__1.png" alt="Project 1" class="projects__img">
          </a>
          <div class="projects__data">
            <h3 class="projects__name">Easy Invoicer</h3>
            <p class="projects__description">
              Easy Invoicer is a simple and efficient invoicing app designed to help businesses manage clients,
              track services, and generate professional invoices effortlessly. With support for IndexedDB storage,
              it ensures seamless offline functionality while offering a user-friendly interface for quick invoice
              creation and client management.</p>

            <div class="projects__skills">
              <img [src]="'assets/img/angular.svg'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/clar.png'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/inx.png'" alt="skill" class="projects__skill">
            </div>

            <a href="https://easyinvoicer.netlify.app/invoices" target="_blank" class="projects__button">
              <i class="ri-link"></i>
              <span>Visit Project</span>
            </a>
          </div>
        </article>
      </div>
      <div class="projects__container container grid">
        <article class="projects__card">
          <a href="#" target="_blank" class="projects__image">
            <img src="assets/img/projects/project__2.png" alt="Project 1" class="projects__img">
          </a>
          <div class="projects__data">
            <h3 class="projects__name">NFTmium</h3>
            <p class="projects__description">
              NFTIMIUM is a powerful NFT generator that leverages Angular for the frontend and Spring Boot for the backend.
              It allows users to upload images and generate multiple NFT variants with customizable traits.
              Designed for efficiency and scalability, NFTIMIUM streamlines the creation process,
              making it easy to produce unique digital assets for the blockchain ecosystem.
            </p>

            <div class="projects__skills">
              <img [src]="'assets/img/angular.svg'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/java.svg'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/spring-boot.svg'" alt="skill" class="projects__skill">
              <img [src]="'assets/img/sql.svg'" alt="skill" class="projects__skill">
              <img [src]="'https://icon.icepanel.io/Technology/svg/JUnit.svg'" alt="skill" class="projects__skill">
            </div>

            <a href="https://github.com/stanisev/nft-generator-be" target="_blank" class="projects__button">
              <i class="ri-github-line"></i>
              <span>Visit Project</span>
            </a>

            <a href="https://www.youtube.com/watch?v=0Zi0DtKpgKo" target="_blank" class="projects__button">
              <i class="ri-youtube-line"></i>
              <span>Watch Demo</span>
            </a>
          </div>
        </article>
      </div>
    </div>

  </section>

  <section class="experience section" id="experience">

  </section>

  <section class="contact section" id="contact">

  </section>
</main>

<footer class="footer">
  <div class="footer__container container grid">
    <div class="footer__content grid">
      <a href="#" class="footer__logo">Stanisev</a>
      <ul class="footer__links">
        <li>
          <a href="#home" class="footer__link">Home</a>
        </li>
        <li>
          <a href="#projects" class="footer__link">Projects</a>
        </li>
        <li>
          <a href="#experience" class="footer__link">Experience</a>
        </li>
      </ul>
    </div>

    <div class="footer__socials">
      <a href="https://bg.linkedin.com/in/stefan-stanishev-737335180" target="_blank" class="footer__socials__link">
        <i class="ri-linkedin-box-line"></i>
      </a>
      <a href="https://github.com/stanisev" target="_blank" class="footer__socials__link">
        <i class="ri-github-line"></i>
      </a>
      <a href="https://www.instagram.com/sstanisev/#" target="_blank" class="footer__socials__link">
        <i class="ri-instagram-line"></i>
      </a>
    </div>

  </div>

  <span class="footer__copy">
    &#169; All Rights Reserved by Stanisev
  </span>

</footer>

<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-line"></i>
</a>
