ul, ol {
  list-style: none;
}

.nav {
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  background: hsla(0, 0%, 95%, 0.1);
  width: 90%;
  margin-inline: auto;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 1rem 2rem;
  border-radius: 4rem;
  z-index: 999;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.6s;
}

.prefill {
  position: relative;
  height: 600px;
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  display: grid;
  overflow: hidden;

  background: rgb(105,102,79);
  background: linear-gradient(200deg, rgba(105,102,79,1) 17%, rgba(0,0,0,1) 100%);
}

.prefill__img {
  position: absolute;
  width: 390px;
  justify-self: center;
  align-self: flex-end;
}

.prefill_data {
  align-self: flex-end;
  background-color: hsla(0, 0%, 1%, .1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 1.5rem 1rem;
  border-radius: 1.5rem;
}

.prefill_name {
  color: white;
  margin-bottom: 1rem;
}

.prefill_buttons {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.prefill_buttons .button {
  padding: .75rem 0;
}

.button {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  background-color: dimgray;
  color: #DBDBDB;
  padding: 1.25rem 2.5rem;
  border-radius: 4rem;
  transition: background-color 0.4s;

}

.button:hover {
  background-color: #706D54;
}

.info {
  background: rgb(105,102,79);
  background: linear-gradient(200deg, rgba(105,102,79,1) 17%, rgba(0,0,0,1) 100%);

  padding: 2rem 1.5rem;
  border-radius: 2rem;
}

.info__circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #706D54;
}

.info__data {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem  ;
}

.info__image {
  background: rgb(105,102,79);
  background: linear-gradient(200deg, rgba(105,102,79,1) 17%, rgba(0,0,0,1) 100%);

  height: 180px;
  border-radius: 2rem;
  display: grid;
  margin-block: 1.5rem;
  overflow: hidden;
}
