html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0.5rem;
  padding: 0.75rem;

  background: rgb(55,50,55);
  background: radial-gradient(circle, rgba(55,50,55,1) 0%, rgba(16,14,17,1) 100%);

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
